header {
    background: black;

    display: flex;

    align-items: center;

    justify-content: flex-start;

    padding: 10px 20px;

    width: 100%;



}

header img {
    height: 40px;
    margin-right: 480px;
}


@media (min-width: 768px) and (max-width: 850px) {
    header img {
        width: 160px;

    }
}


body {
    margin: 0 !important;
    overflow-x: hidden;

}