
.show-container {
    width: 100%;
    max-width: none;

    margin: 40px 0;

    padding: 20px;

    background: #fff;
    text-align: center;
    box-sizing: border-box;

    overflow-x: hidden;
}


.show-profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.show-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.show-username {
    font-size: 24px;
    color: #333;
    margin-right: 100px;

    margin-left: 20px;
    font-weight: bold;
}

.show-edit-profile-button {
    padding: 10px 20px;
    background-color: #fff;
    color: #f00;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #f00;
    font-weight: bold;
}

.mypage-tab-container {
    display: flex;
    justify-content: center;

    margin-top: 30px;
    position: relative;
    left: -250px;

    margin-bottom: -30px;
}


.mypage-tab-button {
    font-size: 20px;

    font-weight: bold;
    color: #666;
    padding: 10px;
    margin: 0 20px;
    text-decoration: none;

    cursor: pointer;
}


.mypage-tab-button.active {
    color: red;

    font-size: 20px;

    border-bottom: none;
}


.show-divider-fullwidth {
    width: calc(100% + 40px);
    height: 2px;
    background-color: #000;
    margin: 20px -20px 20px;

}


#show-exhibited-items,
#show-purchased-items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}


.show-product-item {
    text-align: center;
}


.show-product-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

@media (min-width: 768px) and (max-width: 850px) {


    .show-profile-image {
        width: 120px;
        height: 120px;
    }

    .show-username {
        font-size: 20px;
        margin-right: 20px;

        margin-left: 10px;
    }


    .mypage-tab-container {
        left: 0;

        margin-top: 20px;
        margin-bottom: 10px;
        overflow-x: hidden;
    }

    .mypage-tab-button {
        font-size: 16px;
        padding: 8px;
        margin: 0 10px;
    }

        .mypage-tab-button.active {
            font-size: 16px;
        }


    #show-exhibited-items,
    #show-purchased-items {
        grid-template-columns: repeat(3, 1fr);

        gap: 15px;
    }

    .show-product-image {
        width: 150px;
        height: 150px;
    }

    .mypage-tab-container {

        transform: translateX(-200px);
    }


        .show-divider-fullwidth {
            width: calc(100% + 80px);
            height: 2px;
            background-color: #000;
            margin: -10px -40px 20px;

        }


    
}